header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 180px;

  border-bottom: 1px solid var(--gray-900);
}

header nav ul {
  display: flex;
  gap: 10px;
}
header div {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 150%;
}

header div strong {
  font-family: var(--fontSquare);
  font-size: 40px;
  word-spacing: 10px;
  color: var(--purple-800);
}

header div span {
  font-size: 14px;
}

#menuMobile {
  display: none;
}

#nav__close {
  display: none;
}

.responsive__nav {
  position: absolute;
}
nav ul li a:hover {
  color: var(--purple-800);
  transition: linear 0.2s;
}
@media (max-width: 500px) {
  header {
    padding: 10px;
    justify-content: space-between;
  }

  header h1 {
    font-size: 26px;
  }
  header nav {
    display: none;
    position: fixed;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background: rgba(0, 0, 0, 0.5);

    align-items: center;
    justify-content: center;
  }
  header nav ul {
    display: flex;
    flex-direction: column;

    gap: 20px;
    font-size: 18px;

    text-align: center;

    color: #fff;
  }

  #menuMobile {
    display: block;
  }
  #menuMobile svg {
    width: 25px;
    height: 25px;
  }

  #nav__close {
    position: absolute;
    top: 10px;
    right: 10px;

    color: #fff;
  }
  #nav__close svg {
    width: 25px;
    height: 25px;
  }
}
