@media (max-width: 500px) {
  #presentation {
    flex-direction: column;
    width: 100%;
  }
  #presentation article {
    align-items: center;
    width: 100%;
  }
  #presentation article h1 {
    font-size: 2rem;
  }
  #presentation article p {
    width: 100%;
    text-align: center;
  }
  #presentation div img {
    width: 350px;
  }
  #description {
    width: 100%;
  }

  main #sobre {
    flex-direction: column-reverse;
    text-align: center;
    gap: 20px;
  }
  #sobre div #imgSobre {
    width: 350px;
  }
  #text p {
    width: 90%;
    text-align: center;
    margin: 20px auto;
  }
  #ferramentas {
    flex-direction: column;
  }
  #ferramentas div {
    gap: 20px;
  }
  #projetos strong {
    display: block;
    text-align: center;
  }
  #contato {
    width: 100%;
    flex-direction: column;

    padding: 20px;
  }
  #contato button {
    width: 100%;
  }
  .contato__buttons button {
    width: 100px;
  }

  /* * title::after */
  #title {
    height: 50px;
  }
  #title::after {
    display: none;
  }
}
