main {
  display: flex;
  align-items: center;
  flex-direction: column;

  margin: auto;

  margin-top: 100px;

  overflow: hidden;
}
main #presentation {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
}

main section article {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

main section article h1 {
  line-height: 100%;

  font-size: 3rem;
}

main section article p {
  margin-top: 20px;
  color: var(--gray-700);
}
section article button {
  width: 180px;
  height: 40px;

  border-radius: 20px;

  background: var(--purple-800);

  color: #fff;

  transition: transform 0.3s;
}
section article button:hover {
  transform: scale(1.1);
}

main #sobre {
  width: 100%;
  background: var(--gray-700);
  margin-top: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  color: #fff;

  padding: 50px 0;

  position: relative;
  overflow: hidden;
}

#description {
  width: 500px;
}

#description p {
  color: #fff;
}

#text h2 {
  font-size: 2.5rem;
}

#sobre article div svg {
  width: 40px;
  height: 40px;
}
#ferramentas {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;

  gap: 20px;
}

#ferramentas div {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  flex-wrap: wrap;
}

#ferramentas div p {
  transform: translateY(-50%);
}

#ferramentas div img:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

#projetos {
  margin-top: 40px;

  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;

  padding: 20px 0;
}
#projetos div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
#projetos img {
  width: 350px;
  border-radius: 5px;

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}
#projetos img:hover {
  transform: scale(1.1);
}

#projetos a strong span {
  color: var(--cyan-600);
}

#projetos a strong span:hover {
  text-decoration: underline;
}

#contato {
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 20px;
}
#contato div {
  display: flex;

  gap: 15px;

  margin-top: 5px;
}
#contato svg {
  width: 24px;
  height: 24px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer strong {
  padding: 10px 0;
}
footer div {
  display: flex;
  gap: 15px;
}
footer div svg {
  width: 25px;
  height: 25px;
}

#footer {
  display: flex;
}

#tecnologies img:hover {
  transform: scale(1.1);
  transition: linear 0.3s;
}

/*! Animação */

#listAnimation li {
  position: absolute;

  background: rgba(255, 255, 255, 0.2);

  animation: translateRotate 2s linear infinite alternate;
}

@keyframes translateRotate {
  0% {
    opacity: 0;
    transform: translateY(0) rotate(360deg);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-1000px);
  }
}
